<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>
    <div class="imageWrapper">
            <div class="headerBackground">
                <div class="container">
                    {% include header.html %}
					{% if page.display_home %}
						{% include home.html %}
						{% include features.html %}
					{% endif %}
					{% if page.display_terms_of_use %}
						{% include terms.html %}
					{% endif %}
					{% if page.display_privacy_policy %}
						{% include privacy.html %}
					{% endif %}
                    {% include footer.html %}
                    {% include appstoreimages.html %}
                </div>
            </div>
        </div>
</body>
</html>